<title>MESSAGEPAGE</title>
<h1>MESSAGE APP 6000</h1>
<h2>Send a message:</h2>
{{ username }}
<form action="/message" method="post">
    <textarea name="message" rows="5" cols="40" placeholder="Message" required></textarea><br>
    <input type="submit" value="Send">
</form>
<form action="/my_messages/{{ username }}" method="get">
    <input type="hidden" name="username" value="{{ username }}">
    <input type="submit" value="My Messages">
</form>
<h2>Messages:</h2>
<form action="/comment" method="post">
    {% for message in messages %}
        <input type="radio" name="message" value="{{ message.id }}">Comments: {{ message.memo }}   Posted: {{ message.time }}<br>
    {% endfor %}
    <input type="submit" value="Comment">
</form>
<h2>Logout:</h2>
<form action="/logout" method="post">
    <input type="submit" value="Log Out">