<title>MESSAGEPAGE</title>
<h1>MESSAGE APP 6000</h1>
<h2>Send a message:</h2>
<form action="/message" method="post">
    <textarea name="message" rows="5" cols="40" placeholder="Message" required></textarea><br>
    <input type="submit" value="Send">
</form>
<h2>Messages:</h2>
<ul>
    {% for message in messages %}
        <input type="checkbox" name="message" value="{{ message.id }}">Comments: {{ message.memo }}   Posted: {{ message.time }}<br>
    {% endfor %}
</ul>
<h2>Logout:</h2>
<form action="/logout" method="post">
    <input type="submit" value="Log Out">